@charset "UTF-8";


.center_parent {
    padding: 20px;              /* 余白指定 */
    background-color:  #ddd;    /* 背景色指定 */
    height: 100vh;
  width: 100vw;
    display: flex;
 	justify-content: center;
 	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.center_item {
    width: 150px;               /* 幅指定 */
    height: 120px;              /* 高さ指定 */
    text-align: center;
    white-space: nowrap;
}



h1{
	transform: translateX(-40%);
}

.result_h1{
	transform: translateX(10%);
}



.center_p {
	transform: translateX(-25%);
}

.center_footer {
	font-size: 0.5em;
	transform: translateX(-40%);
	background-color:  #ddd;
	margin: 0;
	padding: 0;
}

.center_final_p {
	transform: translateX(-50%);
}

.result_p {
	transform: translateX(-20%);
}

.result_kekka_p {
	transform: translateX(-5%);
}

.janken_buttom{
	margin: 1.4rem;
}



.label {
	transform: translateX(-37.5%);
}



.gu-img {
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

.radio{
	padding-top: 1.2rem;
	transform: translateX(-40%);
}




