@charset "UTF-8";


/* ********************************************
// --- リセット ---
// ※ブラウザのデフォルトCSSをリセット
// ***************************************** */
  
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html{
   font-size: 16px;
}
body {
   font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
header, footer, nav, menu, article, aside, section, details, figcaption, figure{
   display: block;
}
ul, ol {
   list-style: none;
}
table {
   border-collapse: collapse;
}
img {
   vertical-align: bottom;
}
a img {
   border: none;
}
strong {
   font-weight: normal;
}
i{
   font-style: normal;
}

/* ********************************************
// --- リセットここまで ---
// ***************************************** */



.center_parent {
	padding-top: 11.0rem;              
	background-color:  #DD8C5D;    
	height: 140vh;
	width: 98.5vw;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(frame-masking-tape-500x350.png);
	background-repeat: no-repeat;
	background-position:center;
	background-size: 98%;
	 text-align: center;
    white-space: nowrap;
}


.center_parent_child {
	padding-top: 11.0rem;              
	background-color:  #DD8C5D;    
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(frame-masking-tape-500x350.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:65%;
	text-align: center;
    white-space: nowrap;
}



.center_item {
    width: 150px;               
    height: 200px;             
}

.footer{
	background-color:  #DD8C5D;
	font-size: 0.5em;
	transform: translate(-1.6rem ,4.6rem);
	
}



h1{
	transform: translateX(-3.6rem);
}

.result_h1{
	transform: translateX(1rem);
}


.center_p {
	transform: translateX(-1.4rem);
}


.center_buttom {
	transform: translateX(-2.6rem);
}


.index_buttom{
	margin: 1.6rem;
	transform: translateX(-0.6rem);
}




.center_final_p {
	transform: translateX(-4.6rem);
}

.result_p {
	margin: 0.2rem;
	transform: translateX(-1.6rem);
}

.result_kekka_p {
	transform: translateX(-0.8rem);
}

.janken_buttom{
	transform: translateY(3.6rem);
}



.label {
	transform: translateX(-3.8rem);
}





.radio{
	padding-top: 1.2rem;
	transform: translateX(5rem);
}

.radio_enter{
	transform: translateX(-2.0rem);
}



.hand{
	transform: translateY(0.4rem);
}

.radio_position{
	margin: 0.8rem;
	transform: translateY(2.6rem);
    vertical-align: -3.2rem;
}

.radio_position_result{
    margin: 0.8rem;
    transform: translate(-7.0rem , 2.4rem);
}

.img_enter{
	transform: translateX(-3.2rem);
	
}

.img_result{
	transform: translateX(-10.0rem);
	padding: 0.2rem;	
}


